.auth-card{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.auth-card > h3{
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  color: #333333;
  margin-bottom: 20px;
}

.auth-card > div{
  display: flex;
  padding: 10px 0;
  justify-content: center;
  align-items: center;
}
