<div class="body-bg">
  <div class="page-title">
    <h1>Privacy policy</h1>
  </div>
  <div class="privacy-wrapper">
    <div class="privacy-block">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquam asperiores, consequuntur cum, dolorem esse</p>
      <p>Aliquam architecto aspernatur atque autem debitis deserunt facere illum ipsa iste itaque iusto labore magni
        maiores numquam, odit optio pariatur praesentium qui rem rerum saepe suscipit tempore tenetur vel veniam!</p>
      <p>Aliquid, amet architecto at commodi cum debitis deserunt dicta dolor dolorum eius esse fugiat iure labore
        magnam magni neque officia perferendis perspiciatis porro quaerat quia quidem quo ratione rem voluptatibus?</p>
      <p>Eaque expedita ipsam labore nam obcaecati quasi? Animi blanditiis culpa dolorum ducimus, eaque eius esse
        excepturi illum ipsa maxime natus, numquam odio optio provident quasi saepe similique veniam voluptas?
        Deleniti.</p>
      <p>Alias aliquam architecto aut debitis delectus id minima, quas repellendus sequi similique totam, ullam.
        Architecto at aut consectetur eos exercitationem incidunt, labore laborum, nisi, obcaecati optio quas quis quo
        quod.</p>
      <p>Amet beatae dolor et nobis recusandae sit? Aspernatur deserunt excepturi ipsa magni molestiae nesciunt nulla
        odit possimus, recusandae saepe sed soluta voluptate. Commodi culpa ea quos? Eaque est minima quam?</p>
      <p>Asperiores blanditiis dolore expedita pariatur quam unde? Aliquam asperiores aspernatur aut beatae, commodi
        cupiditate debitis deserunt excepturi exercitationem laboriosam maiores minus nobis obcaecati quam quis
        reprehenderit suscipit ullam unde velit.</p>
      <p>Dolores neque nihil vero. Est fugiat hic nemo perspiciatis qui totam veniam! Impedit, quia totam! Amet
        consectetur debitis dolore eos error expedita nam nulla placeat porro quaerat repellendus unde, veritatis?</p>
      <p>Accusamus blanditiis delectus enim, error inventore mollitia neque nobis non placeat repellendus tempore unde
        vero voluptatibus. Animi, asperiores consequuntur, ducimus eveniet excepturi explicabo, impedit nihil odit
        placeat quam quo veniam.</p>
      <p>Ab culpa fugit nemo non recusandae rem repellat totam ullam. Exercitationem inventore nostrum nulla numquam
        quae ratione sapiente sit voluptas? Alias animi aperiam atque, corporis debitis nostrum nulla repellendus
        vero!</p>
      <p>A consectetur eius nulla quam quasi qui repudiandae unde vel! A assumenda commodi cupiditate delectus dolorem
        expedita impedit ipsa maxime minus, nam non, pariatur porro quam recusandae reiciendis tempora vel.</p>
      <p>Blanditiis ex magnam nemo nostrum praesentium? Ad alias, aperiam assumenda blanditiis consequatur delectus
        dignissimos dolorem doloribus eligendi est et expedita, facere id illo illum, maxime nihil obcaecati possimus
        quod repellat.</p>
      <p>At porro quam voluptatem? Aut beatae eligendi et ipsum iure mollitia nemo, nostrum placeat quia quos! Ex harum
        impedit iusto minus obcaecati pariatur qui quisquam reiciendis, rem sit temporibus unde.</p>
      <p>Accusantium animi aspernatur aut cupiditate, delectus dignissimos dolore dolorem expedita facilis fugit harum
        ipsa maxime nam natus nostrum officia perspiciatis quaerat quasi quo, rerum sed sunt tempora temporibus totam
        vitae!</p>
      <p>Ad adipisci animi beatae dicta dolorem doloribus dolorum eligendi enim error, et impedit maxime, natus nulla
        praesentium provident rerum sequi. Blanditiis facilis iste labore modi quod ratione sequi ut veritatis.</p>
    </div>
  </div>
  <app-footer></app-footer>
</div>
