<nav class="navbar navbar-default">
  <div class="container-fluid">
        <div class="navbar-header">
            <a routerLink="/" class="navbar-brand">BetSoccer</a>
        </div>
        <div class=" navbar navbar-expand">    
                <ul class="nav navbar-nav">                       
                       
                        <li routerLinkActive="active"><a 
                            
                            class="nav-link"
                            style="cursor: pointer;" 
                            (click)="onLogout()" 
                            *ngIf="authService.isAuthenticated()" translate>Logout</a></li>                                   
                </ul>                         
                <ul class="nav navbar-nav navbar-right">  
                      
                        <li *ngIf="!authService.isAuthenticated()" routerLinkActive="active"><a class="nav-link" routerLink="/login" translate>SignIn</a></li>
                        <li *ngIf="!authService.isAuthenticated()" routerLinkActive="active"><a class="nav-link" routerLink="/signup"translate>SignUp</a></li> 
                        <button class="btn btn-outline-info" (click)="switchLanguage('en')">{{ 'English' | translate }}</button>
                        <button class="btn btn-outline-info" (click)="switchLanguage('es')">{{ 'Spanish' | translate }}</button>
                </ul>    
                      
                        
                
        </div>
  </div>
</nav>



  

<router-outlet></router-outlet>

