<div *ngIf="!passforgot"class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
        <h1 class="text-center container-fluid"
        translate 
        >Sign in, please!</h1>

        <div *ngIf="networkingErr" class="alert alert-secondary" role="alert">
          {{message}}
        </div>
        <div *ngIf="notes" class="alert alert-success" role="alert">
          {{notes}}
        </div>
        <button *ngIf="message === 'Your account has not been verified.'" class="btn btn-info btn-block"><a (click)="resend()">Resend</a></button>
        
      <form 
      [formGroup]="form"
      (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="email"translate >Email </label>            
            <input 
            formControlName="email"
            type="email" 
            id="email" 
            name="password" 
            class="form-control"             
            >            
            <span 
            *ngIf="form.get('email').invalid && form.get('email').touched "
             class="text-danger">
            <span *ngIf="form.get('email').errors['required']"translate>Enter email</span>
            <span *ngIf="form.get('email').errors['email']"translate>Enter correct email</span>
            </span>
                
        </div>
        <div class="form-group">
            <label for="password"translate>Password</label>
            <input 
            formControlName="password"
            type="password" id="password" 
            name="password" 
            class="form-control"  
             >
             <span 
              *ngIf="form.get('password').invalid && form.get('password').touched "
              class="text-danger">
                  <span *ngIf="form.get('password').errors['required']" translate>Enter password </span>
                  <span *ngIf="form.get('password').errors['minlength'] && form.get('password').errors['minlength']['requiredLength']">
                    Password length should be more than {{form.get('password').errors['minlength']['requiredLength']}} characters.
                    Now only {{form.get('password').errors['minlength']['actualLength']}} characters.
                  </span>
             </span>
        </div>
        <br>
        <div class="custom-control custom-checkbox">
          <input 
          type="checkbox" class="custom-control-input" id="defaultUnchecked">
          <label class="custom-control-label" for="defaultUnchecked" (click)="checked()"  translate>Remember me</label>
      </div>
      <br>
        <button 
        class="btn btn-primary" 
        type="submit"
        [disabled]="form.invalid"
        translate
        >SignIn</button>  
      </form>
  

<br>

<div class="container">
  <div class="row">
  <button class="btn btn-info" (click)="enterMail()" translate >Forgot password</button>
</div>
</div>
</div>
</div>
</div>


<div *ngIf="passforgot" class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
          <h1 *ngIf="!notes"class="text-center container-fluid"translate>Enter your email, please!</h1>
          <h1 *ngIf="notes" class="text-center container-fluid">{{notes}}</h1>
      <form 
        [formGroup]="otherForm"
        (ngSubmit)="onSend()">
        <div class="form-group">
            <label for="email" translate>Email</label>            
            <input 
            formControlName="email"
            type="email" 
            id="email" 
            name="password" 
            class="form-control"             
            >            
            <span 
            *ngIf="form.get('email').invalid && form.get('email').touched "
            class="text-danger">
            <span *ngIf="form('email').errors['required']"  translate>Enter email </span>
            <span *ngIf="otherForm('email').errors['email']"  translate>Enter correct email</span>
            </span>          
        </div>  
        <br>
        <button 
        class="btn btn-primary" 
        type="submit"
        [disabled]="otherForm.invalid"
        translate
        >Send info to your email</button>  
      </form>
</div>
</div>
</div>


