<div class="auth-card forgot-pass-card">
  <h1 translate>Enter new password</h1>
  <div *ngIf="networkingErr">
    {{message}}
  </div>
  <div *ngIf="notes">
    {{notes}}
  </div>
  <a *ngIf="message === 'Your account has not been verified.'" (click)="resend()">Resend</a>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="password">Password</label>
      <input formControlName="password" type="password" id="password" name="password" class="general-input">
      <p class="forgot-pass-text">Please enter new password</p>
      <span *ngIf="form.get('password').invalid && form.get('password').touched">
      <span *ngIf="form.get('password').errors['required']">Enter password</span>
      <span
        *ngIf="form.get('password').errors['minlength'] && form.get('password').errors['minlength']['requiredLength']">
        Password length should be more than {{form.get('password').errors['minlength']['requiredLength']}}
        characters.
        Now only {{form.get('password').errors['minlength']['actualLength']}} characters.
      </span>
     </span>
    </div>
    <button type="submit" class="yellow-button yellow-button-container forgot-pass-button" [disabled]="form.invalid">Change password</button>
  </form>
</div>
