
<div *ngIf="!passforgot"class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
        <h1 class="text-center container-fluid">Enter new password</h1>

        <div *ngIf="networkingErr" class="alert alert-secondary" role="alert">
          {{message}}
        </div>
        <div *ngIf="notes" class="alert alert-success" role="alert">
          {{notes}}
        </div>
        <button *ngIf="message === 'Your account has not been verified.'" class="btn btn-info btn-block"><a (click)="resend()">Resend</a></button>
        
      <form 
      [formGroup]="form"
      (ngSubmit)="onSubmit()">        
        <div class="form-group">
            <label for="password">Password</label>
            <input 
            formControlName="password"
            type="password" id="password" 
            name="password" 
            class="form-control"  
             >
             <span 
              *ngIf="form.get('password').invalid && form.get('password').touched "
              class="text-danger">
                  <span *ngIf="form.get('password').errors['required']">Enter password</span>
                  <span *ngIf="form.get('password').errors['minlength'] && form.get('password').errors['minlength']['requiredLength']">
                    Password length should be more than {{form.get('password').errors['minlength']['requiredLength']}} characters.
                    Now only {{form.get('password').errors['minlength']['actualLength']}} characters.
                  </span>
             </span>
        </div>
        <br>
        <button 
        class="btn btn-primary" 
        type="submit"
        [disabled]="form.invalid"
        >Change password</button>  
      </form>
  </div>
  </div>
  </div>
