.auth-card{
  top: 50%;
  transform: translate(-50%, -50%);
}

.sign-in-error {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  margin-top: 7px;
  color: #7A7A7A;
}

.form-group:first-child > label{
  height: 21px;
  margin-top: 21px;
}

.form-group > label{
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #444444;
  display: block;
  margin: 23px 0 10px 0;
}

.form-group > input{
  margin: 0;
}

.forgot-password{
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  text-decoration-line: underline;
  color: #444444;
  float: right;
  padding: 3px 3px;
  z-index: 1000;
  position: relative;
  cursor: pointer;
}

.have-account {
  margin-top: 19px;
  font-style: normal;
  font-size: 14px;
  line-height: 19px;
  color: #444444;
}

.have-account a {
  padding-left: 8px;
  font-weight: bold;
  text-decoration: none;
  color: #444444 !important;
  cursor: pointer;
}

.sign-in-button{
  margin-top: 37px;
}

.forgot-password-container{
  max-width: 460px;
  width: 100%;

  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  background: #FCFCFC;
  box-shadow: 0 4px 8px rgba(53, 35, 109, 0.08);
  border-radius: 5px;
  padding: 50px 70px 60px 70px;
  z-index: 1600;
}

.forgot-password-container > h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  color: #444444;
}

.forgot-group > label{
  margin-top: 34px !important;
  font-weight: 600;
}

.forgot-password-annotation{
  width: 100%;
  padding: 18px 2px 32px 3px;
}

.forgot-password-annotation > span{
  font-size: 14px;
  line-height: 150%;
  color: #7A7A7A;
}

.forgot-password-button {
  width: 58.5%;
}

.back-to-sign-in{
  margin-top: 31px;
  font-size: 14px;
  line-height: 19px;
  text-decoration-line: underline;
  color: #7A7A7A;
  cursor: pointer;
}

.back-to-sign-in > span{
  padding-left: 5px;
}

@media screen and (max-width: 550px) {
  .forgot-password{
    float: unset;
    position: relative;
    z-index: 1000;
    padding-bottom: 30px;
    text-align: center;
    display: block;
  }

  .have-account{
    margin-top: 20px;
    text-align: center;
  }
}
