<div *ngIf="!passforgot" class="auth-card" id="sign-in-card">
  <div class="close-auth-card" (click)="closeSignUp()">
    <i class="fas fa-times"></i>
  </div>
  <h1 translate>Please, Sign in.</h1>
  <div *ngIf="!networkingErr" class="sign-in-error">
    {{message}}
  </div>
  <div *ngIf="!notes" class="sign-in-error">
    {{notes}}
  </div>
  <button *ngIf="message === 'Your account has not been verified.'">
    <a (click)="resend()">Resend</a>
  </button>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="email" translate>Enter your Email</label>
      <input
        formControlName="email"
        type="email"
        id="email"
        name="password"
        class="general-input">
      <span *ngIf="form.get('email').invalid && form.get('email').touched ">
            <span class="field-error" *ngIf="form.get('email').errors['required']" translate>Enter email</span>
            <span class="field-error" *ngIf="form.get('email').errors['email']" translate>Enter correct email</span>
          </span>
    </div>
    <div class="form-group">
      <label for="password" translate>Enter your Password</label>
      <input
        formControlName="password"
        type="password"
        id="password"
        name="password"
        class="general-input">
      <span *ngIf="form.get('password').invalid && form.get('password').touched ">
                  <span class="field-error" *ngIf="form.get('password').errors['required']"
                        translate>Enter password </span>
                  <span class="field-error"
                        *ngIf="form.get('password').errors['minlength'] && form.get('password').errors['minlength']['requiredLength']">
                    Password length should be more than {{form.get('password').errors['minlength']['requiredLength']}}
                    characters.
                  </span>
             </span>
    </div>
    <div class="form-group-checkbox mt-25">
      <span class="forgot-password" (click)="enterMail()" translate>Forgot password</span>
      <label class="label-container" for="remember">
        Remember me
        <input type="checkbox" id="remember" formControlName="remember">
        <span class="checkmark"></span>
      </label>
    </div>
    <div class="have-account">
      <span>
        Dont have an account?
        <a (click)="openSignUp()"><b>Sign Up</b></a>
      </span>
    </div>
    <div class="sign-in-button">
      <button [disabled]="form.invalid" class="yellow-button yellow-button-container" type="submit">Sign In</button>
    </div>
  </form>
</div>


<div *ngIf="passforgot" class="forgot-password-container">
  <div class="close-auth-card" (click)="closeSignUp()">
    <i class="fas fa-times"></i>
  </div>
  <h1 *ngIf="!notes" translate>Forgot your password</h1>
  <!--  <h1 *ngIf="notes" class="text-center container-fluid">{{notes}}</h1>-->
  <form [formGroup]="otherForm" (ngSubmit)="onSend()">
    <div class="form-group forgot-group">
      <label for="email" translate>Email</label>
      <input class="general-input" formControlName="email" type="email" id="email" name="password">
      <span *ngIf="form.get('email').invalid && form.get('email').touched">
        <span class="field-error" *ngIf="form('email').errors['required']" translate>Enter email </span>
        <span class="field-error" *ngIf="otherForm('email').errors['email']" translate>Enter correct email</span>
      </span>
    </div>
    <div class="forgot-password-annotation">
      <span>Enter the email address you used to sign in and we’ll send you a link to reset your password</span>
    </div>
    <button class="yellow-button yellow-button-container forgot-password-button"
            type="submit" [disabled]="otherForm.invalid" translate>Send
    </button>
  </form>

  <p class="back-to-sign-in">
    <img src="assets/img/icons/arrow_left.svg" alt="">
    <span (click)="passforgot = false">Back to Sign in form</span>
  </p>
</div>

<app-confirmation
  [email]="email"
  [secondMessage]="secondMessage"
  [action]="action"
  [visible]="visible"
  (modalClose)="closeModal()"
></app-confirmation>
