<div class="col-md-12">
<section id="cart">
  <div class="container-fluid p-5">  
    <div  *ngIf="data.message">
      <h2  class="display-2 text-center mt-5" >{{data.message}}</h2>       
      

       
      
      <button *ngIf="!data.message === 'Connected to PayPal Successfully.'"class="btn btn-warning btn-block"><a (click)="back()">Back to Profile</a></button>
    </div>
  
   
     <div *ngIf = "!data.message"class="row">
      <div class="col-md-12">
        <p class="lead font-weight-bold"> Cart</p>
        <div class="row">
            <div class="offset-6 col-2 d-none d-md-block">
              <p>
                <small class="text-muted">Price</small>
              </p>
            </div>
            
        </div>
        <hr class="mt-0">
        <div  class="cartItem">
          <div class="row">
            
            <div class="col-5 col-md-6">
              <h5>
                <a (click)="back()"> {{selectedTariff.name}} </a>                
              </h5>
              <p class="m-0">
                <small class="text-muted"> {{selectedTariff.description}} </small>
              </p>             
              <a class="text-danger" (click)="back()">Delete</a>
            </div>
            <div class="col-1 col-md-2">
              <h6 class="font-weight-bold text-danger"> {{selectedTariff.price}}  {{selectedTariff.currency}} </h6>
            </div>            
          </div>
          <hr>
        </div>
        <h5 class="text-right">Total:
          <span class="ml-1 font-weight-bold text-danger"> {{selectedTariff.price}}  {{selectedTariff.currency}} </span>
        </h5>
      </div>
      <div class="col-md-6">       
        <div class="card bg-light">
          <div class="card-body">
            <h5>Total:
              <span class="ml-1 font-weight-bold text-danger"> {{selectedTariff.price}}  {{selectedTariff.currency}} </span>
            </h5>
            <br>
            <button class="btn btn-warning btn-block" (click)="checkout()" [disabled]="btnDisabled">Pay via Stripe</button>            
          </div>
        </div>  
      </div> 
      <div class="col-md-6">       
          <div class="card bg-light">
            <div class="card-body">
              <h5>Total:
                <span class="ml-1 font-weight-bold text-danger"> {{selectedTariff.price}}  {{selectedTariff.currency}} </span>
              </h5>
              <br>
              <button class="btn btn-warning btn-block" (click)="payViaPaypal()" [disabled]="btnDisabled">Pay via Paypal</button>            
            </div>
          </div>     
       
        </div> 
     </div>    
  </div>
</section>
</div>


