<div class="body-bg">
  <div class="profile-bg">
    <div class="page-title">
      <h1>Profile page</h1>
    </div>

    <div class="purchase-success" *ngIf="updatedPlan">
      <span>Purchase successful!</span>
      <button (click)="updatedPlan = false">OK</button>
    </div>

    <div class="back-button-wrapper">
      <button class="yellow-button-container yellow-button standard-button-width" (click)="toAnalytics()">
        Go to mach list page
      </button>
    </div>

    <mat-error *ngIf="networkingErr">
      Something went wrong please try again
    </mat-error>

    <!--          <div class="container-fluid p-5">-->
    <!--            <div *ngIf="notes">-->
    <!--              <h2 class="display-2 text-center mt-5">{{notes}}</h2>-->
    <!--            </div>-->
    <!--          </div>-->
    <!---->

    <mat-error *ngIf="networkingErr">
      Something went wrong please try again
    </mat-error>

    <div class="profile-tabs-wrapper">
      <div class="profile-tabs">
        <span (click)="profileTab = true" [ngClass]="profileTab ? 'active' : ''">Personal data</span>
        <span (click)="profileTab = false" [ngClass]="profileTab ? '' : 'active'">Current Tariff plan</span>
        <div class="profile-underline-wrapper">
          <div [ngClass]="profileTab ? 'left' : 'right'" class="profile-underline"></div>
        </div>
      </div>
    </div>
    <div class="profile-card" *ngIf="profileTab">
      <form>
        <div class="profile-info-block">
          <div class="form-group">
            <label>Name</label>
            <input type="text" class="general-input" [value]="profile.userName" disabled>
          </div>

          <div class="form-group">
            <label>Gender</label>
            <input type="text" class="general-input" [value]="profile.gender" disabled>
          </div>

          <div class="form-group">
            <label>Choose your birth date</label>
            <input class="general-input mat-custom-input" placeholder="Choose your birth date" [value]="profile.birthDate | date" disabled>
          </div>

          <div class="form-group">
            <label>Time zone</label>
            <input type="text" class="general-input" [value]="profile.timeZone" disabled>
            <p class="current-zone">{{ timenow }}</p>
          </div>
        </div>

        <div class="profile-avatar-block">
          <div class="avatar-wrapper">
            <div class="avatar-placeholder">
              <img src="http://192.168.88.194:4000/{{profile.imageSrc}}" alt="no image">
            </div>
          </div>
        </div>

        <div class="profile-submit-block">
          <button class="yellow-button-container yellow-button standard-button-width" (click)="update()">UPDATE Profile</button>
        </div>
      </form>
    </div>

    <div class="profile-plan-card-wrapper" *ngIf="!profileTab">
      <div class="price-card">
        <div class="price-card-header">
          <p>{{ tariffPlan.name }}</p>
        </div>
        <div class="price-card-content">
          <div class="card-info-block">
            <span class="card-icon">
              <img src="assets/img/icons/debit_card.svg" alt=" ">
            </span>
            <div class="card-data">
              <span class="card-info-block-title price-title">Price:</span>
              <span class="card-info-price">€ 45</span>
            </div>
          </div>
          <div class="card-info-divider"></div>
          <div class="card-info-block">
            <span class="card-icon">
              <img src="assets/img/icons/paper.svg" alt=" ">
            </span>
            <div class="card-data">
              <span class="card-info-block-title">Description:</span>
              <span class="card-info-block-content">Lorem ipsum dolor, set imet</span>
            </div>
          </div>
          <div class="card-info-divider"></div>
          <div class="card-info-block">
            <span class="card-icon">
              <img src="assets/img/icons/molecule.svg" alt=" ">
            </span>
            <div class="card-data">
              <span class="card-info-block-title">Benefits:</span>
              <span class="card-info-block-content">Lorem ipsum dolor, set imet</span>
              <span class="card-info-block-content">Lorem ipsum dolor, set imet</span>
            </div>
          </div>

          <div class="price-card-button">
            <a class="yellow-button yellow-button-container" (click)="ontariff()">Update Tariff Plan</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
