<mat-error *ngIf="networkingErr">
  Something went wrong please try again
</mat-error>
<div class="col-md-12">
  <section id="cart">
    <div class="container-fluid p-5">   
      
        <button class="btn btn-warning btn-block"><a (click)="back()">Back to Profile</a></button>
     
      </div>
  </section>
</div>

<div class="container">
<div class="card-deck mb-3 text-center">
    <div *ngFor="let tariff of tariffs, let i = index">
    <div class="card mb-4 box-shadow">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">{{tariff.name}}</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">{{tariff.price}} <small class="text-muted">/ {{tariff.currency}}</small></h1>
        <ul class="list-unstyled mt-3 mb-4" *ngFor="let benefit of tariff.benefits">
          <li>{{benefit}}</li>          
        </ul>
        <button type="button" class="btn btn-lg btn-block btn-primary" (click)="pay(i)">Pay</button>
      </div>
    </div>
</div>
</div>
</div>



